django_env=dev
mongodb_dedup_uri=mongodb://mongodb_dedup:<pwd>@<mongodb_server>/?authSource=records
monogodb_automation_uri=mongodb://automated_processes_rw:<pwd>@<mongodb_server>/?authSource=automated_processes
nz_db=records
nz_db_col=nz_records
dedup_db=dedup
django_secret_key=<dev_secret_key>
django_secret_key_prod=<prod_secret_key>
maria_db_password=<maria_db_password>
alma_api_keys=<path_to_keys_file>

# Dedicated MongoDB settings for slspstafftool library opening status snapshots
mongodb_closed_library_automation_uri=mongodb://<user>:<pwd>@<mongodb_server>/?authSource=<db>
mongodb_closed_library_automation_db=closed_library_automation
mongodb_closed_library_automation_collection=library_closures
