django~=6.0.1
pandas~=2.3.3
numpy~=2.4.1
almasru~=3.0.3
pymongo~=4.16.0
python-dotenv~=1.2.1
scikit-learn~=1.8.0
lxml~=6.0.2
requests~=2.32.5
almapiwrapper~=1.4.0
asgiref~=3.11.0
pymysql~=1.1.2
sqlparse~=0.5.5
dedupmarcxml~=1.1.4
XlsxWriter~=3.2.9
