
#recids {
    height: 600px;
    font-size: 0.8em;
    overflow: scroll;
}

#recordFilter input, select, #recordFilter label,aside div, main table, .fullrecdata, #selectModel {
    font-size: 0.8em;
}

h2 {
    font-size: 0.9em;
}

main table th {
    vertical-align: top;
    padding-right: 10px;
}

table#brief_rec td, table#brief_rec th {
    padding-top: 2px;
    padding-bottom: 2px;
}

table#brief_rec .lowMatchScore {
    color: red;
}

.matchRecord::before {
    content: "★";
    text-decoration: none !important;
    color: red;
    margin-right: 6px;
    display: inline-block;
}

.human-validated::before {
    content: "✓";
    text-decoration: none !important;
    color: green;
    margin-right: 6px;
    display: inline-block;
}
.human-validated.active::before {
    content: "✓";
    text-decoration: none !important;
    color: white;
    margin-right: 6px;
    display: inline-block;
}

.resizer {
  width: 5px;
  background-color: #ccc;
  cursor: col-resize;
}

.fullrecdata {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

/*
h3 {
    font-size: 1em;
}

table, #nz_ext_full_rec, #recids {
    font-size: 0.7em;
}

.match_record::before {
    content: "★";
    text-decoration: none !important;
    color: red;
    margin-right: 6px;
    display: inline-block;
} */