
#recids {
    height: 600px;
    font-size: 0.7em;
    overflow: scroll;
}

#recordFilter select, #recordFilter label, aside div, main table, #extNzRecData {
    font-size: 0.7em;
}

h2 {
    font-size: 0.85em;
}

main table th {
    vertical-align: top;
    padding-right: 10px;
}

table#brief_rec td, table#brief_rec th {
    padding-top: 2px;
    padding-bottom: 2px;
}

table#brief_rec .lowMatchScore {
    color: red;
}

.matchRecord::before {
    content: "★";
    text-decoration: none !important;
    color: red;
    margin-right: 6px;
    display: inline-block;
}

.human-validated::before {
    content: "✓";
    text-decoration: none !important;
    color: green;
    margin-right: 6px;
    display: inline-block;
}
.human-validated.active::before {
    content: "✓";
    text-decoration: none !important;
    color: white;
    margin-right: 6px;
    display: inline-block;
}

/*
h3 {
    font-size: 1em;
}

table, #nz_ext_full_rec, #recids {
    font-size: 0.7em;
}

.match_record::before {
    content: "★";
    text-decoration: none !important;
    color: red;
    margin-right: 6px;
    display: inline-block;
} */